.signIn {
    margin: 4rem 6rem;
    color: #2a2a2a;
  }
  
  .signIn form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }

  .signIn button[type="submit"] {
    display: block; /* Keeps the button as a block element */
    width: 50%; /* Controls the width of the button */
    margin: 20px auto; /* Centers the button horizontally and adds vertical space */
    padding: 10px 0; /* Adds padding inside the button */
    background-color: white; /* Default background color */
    color: black; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color and background */
    border: none; /* Optional: removes the border */
}

.signIn button[type="submit"]:hover {
  background-color: rgb(114, 114, 226); /* Background color on hover */
}

  
  .signIn input[type="email"],
  .signIn input[type="text"] {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
  }
  
  
  @media screen and (max-width: 850px) {
    .signIn {
      margin: 4rem 2rem;
    }
  
    .signIn form {
      padding-top: 2rem;
      width: 90%;
    }
  }