.questionnaire-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questionnaire-form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.questionnaire-form-element label {
  margin-bottom: 5px;
  font-weight: bold;
}

.questionnaire-age-input {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.questionnaire-select-input, input[type="checkbox"] {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.questionnaire-form-button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.questionnaire-form-button:hover {
  background-color: #0056b3;
}

.questionnaire-form-container > div {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.questionnaire-calendar-container, .search-bar-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.questionnaire-preferences-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.questionnaire-preference-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px; /* Reduce font size */
  padding: 5px; /* Reduce padding */
}
.questionnaire-preference-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Styling for the error message */
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
}